#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: center;
  background-color: #4a4e52;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  padding: 1rem 1rem 0.5rem 3rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
