.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: rgb(235, 228, 167); 
    min-width: 200px;
    border-radius: 10px;
    padding: 1rem;
    animation: fadeIn 0.3s ease-out;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background-color: #4a4e52;
    color: white;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.ability-badge, .stat-badge {
    padding: 3px 10px 3px 10px;
    margin: 5px;
    border-radius: 7px;
}

h2 {
    text-transform: capitalize;
}

/*specific stat badge colors for each pokemon type*/
.stat-hp { background-color: rgb(169, 233, 132); }
.stat-attack { background-color: rgb(255, 126, 126); }
.stat-defense { background-color: rgb(171, 224, 255); }
.stat-special-attack { background-color: rgb(255, 126, 249); }
.stat-special-defense { background-color: rgb(155, 153, 248); }
.stat-speed { background-color: rgb(255, 253, 146); }
